.footer {
    background-color: #052E16;
    color: white;
    text-align: center;
    padding: 25px;
}
@media (max-width: 480px) {

    .navbar h1 {
        font-size: 19px;
    }

    .navbar ul {
        gap: 10px;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .top {
        height: 55vh;
    }

    .top h1 {
        font-size: 26px;
    }

    .top p {
        font-size: 14px;
    }

    .bottom h1 {
        font-size: 26px;
    }
}