.s1{
    background-color:#166534;
    padding: 70px 20px;
}
.s1 h1{
    text-align: center;
    color: white;
}
.s1 p{
    text-align: center;
    color: white;
}

.card{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 10px auto;
    /* align-items: stretch; */
    
}

#badge_1,
#badge_2{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 14px;
    margin-bottom: 10px;
}
#badge_1{
    background-color: #d9f2df;
    color: #278a45;
}
#badge_2{
    background-color: #dfe7f5;
    color: #5d7299;
}
.card_1 img,
.card_2 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    object-position: top center;
}
.card_1,
.card_2{
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.3s;
    width: 30%;
    padding: 15px 20px;
    background-color: white;
    overflow: hidden;
}
.card_1:hover,
.card_2:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
@media (max-width: 480px) {

    .navbar h1 {
        font-size: 19px;
    }

    .navbar ul {
        gap: 10px;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .top {
        height: 55vh;
    }

    .top h1 {
        font-size: 26px;
    }

    .top p {
        font-size: 14px;
    }

    .bottom h1 {
        font-size: 26px;
    }
}
@media (max-width:768px) {
    .card{
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        gap: 20px;
    }
    .card_1,
    .card_2{
        width: 100%;
        max-width: 450px;
    }
}